
body {
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.App {
  
}

.pomodoro {
display: flex;
flex-direction: column;
}

.timer-box {
  background-color: rgba(255,255,255,0.1);
  border-radius: 5px;
  width: 400px;
  text-align: center;
  height: 250px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.timer {
  margin-top: -25px;
  font-size: 100px;
  color: #FFFFFF;
}

.tests {
}

.button {
  display: flex;
  justify-content: center;
  width: 400px;
}

.button button {
  font-size: 30px;
  font-weight: bolder;
  border: 0;
  padding: 20px 60px; 
  border-radius: 5px;
  background-color: white;
} 

.skip {
  background-color: white;
  width: 50px;
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 40px;
  font-weight: bolder;
  align-items: center;
}

.text {
  margin: 20px;
}

.red {
  color: #D8564F;
}

.green {
  color:#4C9095;
}

.todo_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.todo_list input {
  width: 400px;
  height: 40px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  margin: 0 300px;
}

.todo_list ::placeholder {
  padding-left: 10px;
}

.todo {
  background-color: #FFFFFF;
  margin-top: 10px;
  height: 40px;
  border-radius: 5px;
  color: black;
  width: 304px;
  border: 0;
  margin: 10px 400px 0 400px;
}

ul {
  list-style-type: none;
  position: relative;
  left: -20px;
}

.todo svg {
  width: 20px;
  height: 20px;
  position: relative;
  left: 0px;
  top: 10px;
}


.todo_text {
  text-align: left;
  position: relative;
  left: 20px;
  bottom: 14px;
  font-size: 17px;
}

.completed {
  text-decoration: line-through;
}

.progress_bar {
  height: .5px;
  width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.progress{
  width: 500px;
  height: .5px;
  background-color: black;
  z-index: 2;
  display: flex;
  align-items: center;
}

.percentage {
  background-color: white;
  width: 100%;
  height: 5px;
  z-index: 3;
  border-radius: 2px;
}


.progress_box {
  width: 20px;
}
